#amPushAjax {
  pointer-events: none;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  color: #3d9cd2;
  background: currentColor;
  box-shadow: 0 -1px 8px;
  opacity: 0;
}

#amPushAjax.loading {
  opacity: 1;
  -webkit-animation: amPushAjax 1.5s linear infinite;
  animation: amPushAjax 1.5s linear infinite;
}


@keyframes amPushAjax {
  0%, 5% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  45%, 55% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  95%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}